<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>quiz-authentication</title>
  <!-- Bootstrap core CSS-->
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/quiz-auth.css">
	<!-- <title>quiz-authentication</title> -->
</head>
<body>

	<div class="header">
		
  
		<a href="dashboard.hbs" style="text-decoration: none;color: white;"><h4>Quister</h4></a>
		<!-- <div class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </div> -->
	</div>


	<div class="card-align">
		
	<div class="card">
  <div class="card-body">
   
        <h3>General instruction</h3>

       <ul>
      <li>The quizzes consists of questions carefully designed to help you self-assess your comprehension.</li>
      <li>Each question in the quiz is of multiple-choice or "true or false" format.</li>
      <li>Click on the button next to your response that is based on the Question.</li>
      <li>After responding to a question click on next  question</li>
      <li>If you select an incorrect response for a question, you can try again until you get the correct response</li>
      <li>After responding All you can finish the quiz before the time by clicking on finish test.</li>
      
       <li>The total score for the quiz is based on your responses to all questions</li>
      <li>After Finishing the quiz you will get the Result.</li>
</ul>  
  </div>
</div>


<!-- <h1>email::{{email}}</h1>
<h1>password::{{password}}</h1> -->
<p>{{password}}</p>

<input type="text" value="{{password}}" id="pass" hidden>

                          <div class="card ">
                                  <div class="card-body login">
  	                     <div class="form-group">

                            <form action="/confirm.hbs" id="form" method="post">

                     			 	<label for="inputPassword">Email</label>	
                     			 	<input type="text" class="form-control" value="{{email}}" id="email">
                     			 </div>
                            <input type="text" value="{{quizid}}" id="quizid" name="quizid" hidden>
                     			  <div class="form-group">
                     			 	<label for="inputPassword">Password</label>	
                     			 	<input type="password" class="form-control" placeholder="enter test-password"  id="inputPassword">
                     			 </div>
         
                            
                             <!-- <input type="text" name="login" value="login" class="btn btn-success" onclick="login()"> -->
                           </form>

                            <button class="btn btn-success" onclick="login()">login</button>

  </div>
</div>

	</div>



        <script>
        	// var pp = {{password}};
        	function login(){
               
               var confirm = document.querySelector('#pass').value;
            var password = document.querySelector("#inputPassword").value;
            if(password == confirm)
              {
                console.log('within password match');
        		    document.querySelector("#form").submit();

              }else{
              alert("invalid Password");
              // return false;
            }
        	}
        </script>
	 <script src="../dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="../dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../dashboard/vendor/chart.js/Chart.min.js"></script>
    <script src="../dashboard/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../dashboard/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../dashboard/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../dashboard/js/sb-admin-datatables.min.js"></script>
    <script src="../dashboard/js/sb-admin-charts.min.js"></script>
	
</body>
</html>